<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52880/RateService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRateService" contract="RateServiceReference.IRateService"
                name="BasicHttpBinding_IRateService" />
        </client>
    </system.serviceModel>
</configuration>